<!DOCTYPE html>
<html lang="ko-KR">
	<head>		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>랜덤 문자열 생성</title>
	</head>
	<body>		
		<div>			
			<header>
				<div>
					<h1><a href="http://rand.selfhow.com" rel="home">랜덤 문자열 생성</a></h1>
					<p>랜덤 문자열 생성</p>					
				</div>
			</header>			
			<div>
				<main>
					<article>
						<div>							
							{{content}}										
	                     </div><!-- .entry-content -->
					</article>		
				</main><!-- #main -->
			</div><!-- .site-content -->
		</div><!-- .site --> 
	</body>
</html>